@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

*{
font-family: 'JetBrains Mono', monospace;
}
footer{
margin-top:100px;
  color:white;
}

blockquote.style2 {
  font: 14px/22px normal 'JetBrains Mono', monospace;
;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  width:15%;
  font-family: 'JetBrains Mono', monospace;

}
blockquote.style3 {
background-color:grey;
  font: 14px/22px normal 'JetBrains Mono', monospace;
 margin:auto;
  padding-left: 15px;
  border-left: 3px solid #ccc;
    width:auto;
      display:table;
  text-align: center;
  color:white;
}