{{#partial "content"}}
    <div class="col-md-10">
        <h1>
            The hero {{hero.name}} is already allocated to {{hero.squad}}
        </h1>
        <h2>Please allocate another Hero to the squad</h2>
        <br>
        <a href="/allocate-squad" class="">Back</a></div>
{{/partial}}
{{>layout.hbs}}