{{#partial "content"}}
<div class="text-center">
    {{#if squads}}
        <h2 class="display-3">Available Squads</h2></div>
        {{#each squads}}
            <h2>Squad Name :{{name}}</h2>
            <h3>Motto</h3>
            <p>{{motto}}</p>
            <h3>Cause</h3>
            <p>Squad :{{Cause}}</p>

            <h4>Squad Capacity :{{max-size}}</h4>
        {{/each}} <a href="/squad-form">
            <button class="btn btn-success">Add More Heroes</button>
        </a>
    {{/if}}


{{/partial}}partial}}
    {{>layout.hbs}}