{{#partial "content"}}


    <form>
        <div class="text-center container pt-4">
            <div class="form-row">
                <div class="col">
                    <label for="squad-name">Squad Name</label>
                    <input class="form-control form-control-lg" class="form-group" name="squad-name" id="squad-name"
                           type="text" placeholder="Enter the squad name">
                </div>


                <div class="col">
                    <label for="max-size">Squad Max-Size</label>
                    <input class="form-control form-control-lg" class="form-group" name="max-size" id="max-size"
                           type="number" placeholder="Enter the squad size  ">
                </div>


            </div>
            <div class="form-row mt-3">
                <div class="col-md-10 offset-1">
                    <label for="weakness">Weakness</label>
                    <textarea class="form-control form-control-lg " rows="5" class="form-group" type="text"
                              name="weakness" id="weakness" placeholder="Enter hero Weakness"></textarea>
                </div>
            </div>
            <div class=" pt-4">

                <button type="submit" class="btn btn-primary ">Add Hero</button>
            </div>
        </div>



    </form>
{{/partial}}
{{>layout.hbs}}