{{#partial "content"}}
    <div class="col-md-10">
<h1>
    Squad {{squad.name}} is filled to capacity
</h1>
<h2>Please allocate Hero to another squad</h2>
<br>
<a href="/allocate-squad" class="">Back to Homepage</a></div>
{{/partial}}
{{>layout.hbs}}