{{#partial "content"}}
    <div class="text-center pt-5 mt-5 pb-5 col-md-10">
        <h1 class="display-3  pt-5">Success</h1>
        <br>
        <a href="/" class="">Back to Homepage</a>
    </div>{{/partial}}
{{>layout.hbs}}